import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO
from sklearn.tree import export_graphviz
import pydotplus
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from IPython.display import Image
  
